target/classes/main/mule/DeleteById.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="DeleteByIdFlow" doc:id="1eed23ba-9279-46c1-b756-28b3692f0d54" >
		<http:listener doc:name="Listener" doc:id="d78a91ce-2ee0-4617-9363-bfccc3797a68" config-ref="HTTP_Listener_config" path="delete-record/{empid}"/>
		<db:delete doc:name="Delete-by-id" doc:id="d432b7c7-1311-4772-9133-5fe8702b70a4" config-ref="Database_Config">
			<db:sql ><![CDATA[DELETE FROM EMPLOYEE WHERE EMP_ID=:EMP_ID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	"EMP_ID": attributes.uriParams.empid
}]]]></db:input-parameters>
		</db:delete>
		<ee:transform doc:name="Transform Message" doc:id="84c64fab-1da2-4286-970e-f79993edac58" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status": 200,
	"message": "success"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
