target/classes/main/mule/InsertIntoDB.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c15ea083-e1ee-4775-b61c-668bd6c5edcc" basePath="database" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="2e4bad81-4cbb-4467-8daf-12290dba2d93" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="1619" database="EMPLOYEEPROJECT"/>
	</db:config>
	<flow name="InsertIntoDBFlow" doc:id="79fcf762-3fcf-4970-90aa-64744b1c5a3c" >
		<http:listener doc:name="Listener" doc:id="4c45095d-2fe6-493e-ab1c-5f1736499802" config-ref="HTTP_Listener_config" path="insert" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Logger" doc:id="1537e3ce-917d-47f2-b15d-f49b9ccdb8ca" message="#[payload]"/>
		<db:insert doc:name="mysqldb" doc:id="a2c9fc66-5f3e-4768-8c04-d606e5f1c4b3" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO EMPLOYEE VALUES(:EMP_ID,:EMP_NAME,:EMP_STATUS,:EMP_JOINING);]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	"EMP_ID":payload.id,
	"EMP_NAME": payload.name,
	"EMP_STATUS": payload.status,
	"EMP_JOINING": payload.date
	
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="608b9cce-8263-477a-99e5-6a7b7dedeae2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Status":200,
	"Message":"Success"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
